@use "sass:color";

$font-family-serif:"Merriweather", serif;
$font-family-cursive:"Sacramento", cursive;
$font-family-sans-serif:"Roboto", sans-serif;


$minWidth: 420px;
$midWidth: 800px;

$turquoise: #66bfbf;
$darker-turquoise: #11999e;
$hr-grey: #a1a5a5;
$hoover-white:  #eaf6f6;
$light-blue: #b5eaea;
$text-color:#40514e;
